* {
    box-sizing: border-box;
    margin: 0;
    // padding: 0;
}

html {
    height: 100%;
}

html {
    scroll-behavior: smooth; // smooth when scroll
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    // font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    color: $color-main;
    font-weight: 500;
    line-height: 1.3;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

img {
    vertical-align: middle;
    border-style: none;
}


/******************h- custom style hoanghoa by Nova******************/

.h-overflowHidden {
    overflow: hidden;
}

.h-positionRelative {
    position: relative;
}

.h-positionAbsolute {
    position: absolute;
}

.h-hAuto {
    height: auto;
}

.h-wAuto {
    width: auto;
}

.h-cursorPointer {
    cursor: pointer;
}

.h-boxImgTransform {
    overflow: hidden;
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
    img {
        transition: 0.7s;
        transform: scale(1);
    }
    .product {
        display: flex;
        align-items: center;
    }
}

.h-overflowEllipsText {
    display: -webkit-box !important;
    @include ellips-text(1rem, 1.5, 3);
}

.h-transitionAll {
    transition: all 0.3s;
}

.h-textCenter {
    text-align: center;
}

.h-opacity-0 {
    opacity: 0;
}

.h-slider {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.h-img-100-100 {
    @include aspect-ratio(100, 100);
}

.h-img-small {
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.h-textOverLay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color-white;
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: -4px 5px 14px $color-black;
}

.h-transform-180 {
    transform: rotate(180Deg)
}

.h-cardImageHover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $color-black;
    color: $color-white;
    font-size: 23px;
    border: none;
    height: 77px;
    .iconNomal {
        display: unset;
    }
    .iconHover {
        display: none;
    }
    &:hover {
        color: $color-red;
        cursor: pointer;
        .iconNomal {
            display: none;
        }
        .iconHover {
            display: unset;
        }
    }
}

.h-container {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 1440px;
    width: 95%;
}

@media (min-width: 576px) {
    .h-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .h-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .h-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .h-container {
        max-width: 1140px;
    }
}

.h-container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.h-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.h-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="h-col-"] {
    float: left;
    padding: 15px;
}


/* For mobile phones: */

[class*="h-col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .h-col-s-1 {
        width: 8.33%;
    }
    .h-col-s-2 {
        width: 16.66%;
    }
    .h-col-s-3 {
        width: 25%;
    }
    .h-col-s-4 {
        width: 33.33%;
    }
    .h-col-s-5 {
        width: 41.66%;
    }
    .h-col-s-6 {
        width: 50%;
    }
    .h-col-s-7 {
        width: 58.33%;
    }
    .h-col-s-8 {
        width: 66.66%;
    }
    .h-col-s-9 {
        width: 75%;
    }
    .h-col-s-10 {
        width: 83.33%;
    }
    .h-col-s-11 {
        width: 91.66%;
    }
    .h-col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .h-col-1 {
        width: 8.33%;
    }
    .h-col-2 {
        width: 16.66%;
    }
    .h-col-3 {
        width: 25%;
    }
    .h-col-4 {
        width: 33.33%;
    }
    .h-col-5 {
        width: 41.66%;
    }
    .h-col-6 {
        width: 50%;
    }
    .h-col-7 {
        width: 58.33%;
    }
    .h-col-8 {
        width: 66.66%;
    }
    .h-col-9 {
        width: 75%;
    }
    .h-col-10 {
        width: 83.33%;
    }
    .h-col-11 {
        width: 91.66%;
    }
    .h-col-12 {
        width: 100%;
    }
}


/****************** end ******************/


/****************** scroll top page ******************/

.h-scrollTopPage {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 30;
    cursor: pointer;
}

.h-scrollTopPage>a {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background-color: #5f9ea0;
    color: #fff;
}

.h-scrollTopPage>a:before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}


/****************** end ******************/


/****************** # ******************/

.aboutHomePageBox {
    cursor: pointer;
    .plusIcon {
        transition: all 0.5s;
        position: relative;
        transform: rotate(0deg);
        left: 0px;
    }
    &:hover {
        background: #2d2d2d;
        .title,
        .plusIcon {
            color: $color-red;
        }
        .plusIcon {
            transition: all 0.5s;
            transform: rotate(90deg);
            left: 1vw;
        }
        &.animation-ScaleLeft {
            transition: all 0.5s;
            padding-left: 1vw !important;
        }
        &.animation-ScaleRight {
            transition: all 0.5s;
            padding-right: 1vw !important;
        }
        &.animation-ScaleX {
            transition: all 0.5s;
            padding-left: 1vw !important;
            padding-right: 1vw !important;
        }
    }
    &.animation-ScaleLeft {
        transition: all 0.5s;
        padding-left: 0rem !important;
    }
    &.animation-ScaleRight {
        transition: all 0.5s;
        padding-right: 0rem !important;
    }
    &.animation-ScaleX {
        transition: all 0.5s;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

.bannerSlider {
    position: relative;
    top: 0;
    z-index: 0;
    width: auto;
    overflow: hidden;
    .tns-outer {
        .tns-controls {
            display: none;
        }
        .tns-nav {
            position: absolute;
            bottom: 0;
            z-index: 1;
            width: 100%;
            text-align: center;
            button {
                width: 21px;
                height: 21px;
                background: $color-white;
                border: none;
                border-radius: 50%;
                margin: 6px;
                margin-bottom: 13px;
                outline: none;
                transition: 0ms;
                &:hover {
                    background: $color-red;
                }
            }
            button.tns-nav-active {
                background: $color-red;
            }
        }
    }
}

.topicSlider {
    height: 100px;
    .tns-outer {
        .tns-nav {
            display: none;
        }
        .tns-controls {
            position: relative;
            bottom: -40px;
        }
        button {
            position: absolute;
            background: transparent;
            border: none;
            transform: scale(1.7);
            outline: none;
            &:first-child {
                left: -25px;
            }
            &:last-child {
                right: -25px;
            }
            &:disabled {
                display: none;
            }
        }
    }
}

.mobileMenuButton {
    border-left: 1px solid #a9a9a9;
    font-size: 1.7rem;
    width: 61px;
    .icon {
        transform: scaleY(0.8);
    }
}


/****************** end ******************/


/* */


/* */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.cls-2 {
    position: absolute;
    -webkit-animation: cloudLeft 25s linear infinite alternate;
    animation: cloudLeft 25s linear infinite alternate;
}

.cls-2,
.cls-4,
.cls-5,
.cls-7 {
    stroke: #2f495e;
    stroke-linejoin: round;
}

.cls-2,
.cls-3,
.cls-7 {
    fill: $color-white;
}


/* path[Attributes Style] {
    d: path("M 39.84 31.44 a 2.85 2.85 0 0 0 -1 0.2 a 4.75 4.75 0 0 0 -9.39 0 a 2.86 2.86 0 1 0 -1 5.53 H 39.84 a 2.86 2.86 0 0 0 0 -5.73 Z");
} */

:not(svg) {
    transform-origin: 0px 0px;
}

.cls-2-right {
    -webkit-animation: cloudRight 20s linear infinite alternate;
    animation: cloudRight 20s linear infinite alternate;
}

.cls-2 {
    position: absolute;
    -webkit-animation: cloudLeft 25s linear infinite alternate;
    animation: cloudLeft 25s linear infinite alternate;
}

.cls-2,
.cls-4,
.cls-5,
.cls-7 {
    stroke: #2f495e;
    stroke-linejoin: round;
}

.cls-4,
.cls-5,
.cls-7 {
    stroke-linecap: round;
}

.cls-4 {
    fill: none;
}

.cls-2,
.cls-4,
.cls-5,
.cls-7 {
    stroke: #2f495e;
    stroke-linejoin: round;
}

.cls-4,
.cls-5,
.cls-7 {
    stroke-linecap: round;
}

.cls-5 {
    fill: #108775;
}

.cls-6 {
    fill: #00c58e;
}

@keyframes cloudLeft {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-20px);
    }
}

@keyframes cloudRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.logoWebsiteWs {
    display: inline-block;
    -webkit-animation: turn 1s linear forwards 1s;
    animation: turn 1s linear forwards 1s;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    position: relative;
    overflow: hidden;
    /* height: 180px;
    width: 245px; */
}

@keyframes turn {
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

.logoWebsiteW {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -ms-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceInDown {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}