/* */
body {
  font-size: 18px;
  color: #718096;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}



/* */


.containerCV {
  margin: 0 auto;
  padding: 12px 0;
  max-width: 1440px;
  width: 95%;
}
.contentCV {
  display: flex;
  border: 1px solid #35495e;
  border-radius: 12px;
  overflow: hidden;
}
.contentCVLeft {
  width: 66%;
  padding: 28px;
}
.contentCVLeftMain {
}
.nameMember {
  font-size: 52px;
  font-weight: 500;
  color: cadetblue;
}
.workMember {
  font-size: 36px;
  font-weight: 700;
  color: darkgray;
  padding-bottom: 32px;
}
.listTernPlans {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline-start: 60px;
}
.contentCVLeftSup {
  padding: 12px 0;
}
.typeInformationTitle {
  display: flex;
  text-align: center;
  align-items: center;
}
.imageIconTitle {
  padding-right: 12px;
}
.imageIconTitleStyle {
  width: 100%;
}
.nameTitle {
  font-size: 24px;
  font-weight: 600;
  color: cadetblue;
  padding-right: 12px;
}
.alinetypeInformationTitle {
  border-bottom: 1px solid #35495e;
}
.typeInformation{
  padding: 12px 0px;
}
.typeInformationContentTitle {
  display: flex;
  justify-content: space-between;
}
.typeInformationContent {
  padding: 12px 12px;
}
.typeInformationContentTitleName {
  font-size: 24px;
  font-weight: 600;
  color: #35495ed4;
  max-width: 80%;
}
.typeInformationContentTitleTime{
    color: #869099;
}
.typeInformationContentFull{
    color: #869099;
}
.typeInformationContentMain{
    padding-bottom: 12px;
}
.typeInformationContentSup{
    padding-bottom: 12px;
}

.contentCVRight {
  width: 36%;
  background: #f7fafc;
  padding: 28px;
}
.imageAvatarMain{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}
.imageAvatarMainStyle{
    border-radius: 50%;
    background: #e2e8f0;
    // width: 400px;
    // height: 400px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.img-400-400{
    position: relative;
    /* > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    } */
}
.img-400-400:before{
    display: block;
    content: "";
    width: 100%;
    /* padding-top: ($height / $width) * 100%; */
    padding-top: 100%;
}

.imageLarge{
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logoWebsite{
    display: flex;
    text-align: center;
    justify-content: center;
}
.logoWebsiteW{
    width: 33%;
}

.cls-2 {
    position: absolute;
    -webkit-animation: cloudLeft 25s linear infinite alternate;
    animation: cloudLeft 25s linear infinite alternate;
}
.cls-2, .cls-4, .cls-5, .cls-7 {
    stroke: #2f495e;
    stroke-linejoin: round;
}
.cls-2, .cls-3, .cls-7 {
    fill: #fff;
}
/* path[Attributes Style] {
    d: path("M 39.84 31.44 a 2.85 2.85 0 0 0 -1 0.2 a 4.75 4.75 0 0 0 -9.39 0 a 2.86 2.86 0 1 0 -1 5.53 H 39.84 a 2.86 2.86 0 0 0 0 -5.73 Z");
} */
:not(svg) {
    transform-origin: 0px 0px;
}
body {
    font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 500;
    color: #2f495e;
}

.cls-2-right {
    -webkit-animation: cloudRight 20s linear infinite alternate;
    animation: cloudRight 20s linear infinite alternate;
}
.cls-2 {
    position: absolute;
    -webkit-animation: cloudLeft 25s linear infinite alternate;
    animation: cloudLeft 25s linear infinite alternate;
}
.cls-2, .cls-4, .cls-5, .cls-7 {
    stroke: #2f495e;
    stroke-linejoin: round;
}
.cls-4, .cls-5, .cls-7 {
    stroke-linecap: round;
}
.cls-4 {
    fill: none;
}
.cls-2, .cls-4, .cls-5, .cls-7 {
    stroke: #2f495e;
    stroke-linejoin: round;
}
.cls-4, .cls-5, .cls-7 {
    stroke-linecap: round;
}
.cls-5 {
    fill: #108775;
}
.cls-6 {
    fill: #00c58e;
}

@keyframes cloudLeft{
    0% {
        transform: translateX(-20px);
    }
    
    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-20px);
    }
}
@keyframes cloudRight{
    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.logoWebsiteWs {
    display: inline-block;
    -webkit-animation: turn 1s linear forwards 1s;
    animation: turn 1s linear forwards 1s;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    position: relative;
    overflow: hidden;
    /* height: 180px;
    width: 245px; */
}
@keyframes turn{
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}


.logoWebsiteW {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -ms-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceInDown{
0%, 100%, 60%, 75%, 90% {
    -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
}

0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-3000px,0);
    transform: translate3d(0,-3000px,0);
}
60% {
    opacity: 1;
    -webkit-transform: translate3d(0,25px,0);
    transform: translate3d(0,25px,0);
}
75% {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}
90% {
    -webkit-transform: translate3d(0,5px,0);
    transform: translate3d(0,5px,0);
}
100% {
    -webkit-transform: none;
    transform: none;
}
}


#wa_loading {
    position: relative;
    top: 40%;
    text-align: center;
    margin-top: 5%;
}
.wa-disable {
    display: none;
}
span.l-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -ms-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
span[class*="l-"] {
    height: 20px;
    width: 20px;
    background: red;
    display: inline-block;
    margin: 12px 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-animation: loader 4s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -webkit-animation-fill-mode: both;
    -moz-animation: loader 4s infinite;
    -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -moz-animation-fill-mode: both;
    -ms-animation: loader 4s infinite;
    -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -ms-animation-fill-mode: both;
    animation: loader 4s infinite;
    animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    animation-fill-mode: both;
}
span {
    margin: 0 auto;
    display: block;
}
#wa_loading {
    position: relative;
    top: 40%;
    text-align: center;
    margin-top: 5%;
}

@keyframes loader{
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* .containerCV{
    background: url("~assets/image/testSVG.svg") no-repeat right 40px
      center;
} */

#CVMe{
    padding-top: 80px;
}
